{% extends 'base.html'%}

{% block titulo%}
	<h1>
	Lista de Vendedores	
	</h1>
{% endblock %}
{% block contenido%}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col"></th>
    </tr>
  </thead>
	{% for i in lista %}
  <tbody>
    <tr>
      <td>{{i.nombre}}</td>
      <td>{{i.apellido}}</td>
      <td>
      	<div class="btn-group" role="group" aria-label="Basic example">	
      	<a class="btn btn-outline-primary" href="/ver_vendedor/{{i.id}}" method="get">Ver</a>
		</div>
	  </td>
    </tr>
  </tbody>
	{% endfor %}
	

{% endblock %}
